* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #110F17;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    max-width: 1000px;
    padding: 30px 10px;
}

h1 {
    margin-bottom: 20px;
    color: #f0f0f0;
}

/* Estilo do Perfil do Usuário */
.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282433;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    color: #f0f0f0;
    box-shadow: 0 4px 8px #282433;
}

.profile-icon {
    font-size: 30px;
    border-radius: 50%;
}

.user-info {
    flex-grow: 1;
    margin-left: 15px;
    text-align: left;
}

.logout-button {
    background-color: #ff4b4b;
    border: none;
    padding: 10px 20px;
    color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ff3333;
}

/* Estilos dos Cards */
/* Estilos dos Cards */
.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #282433;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px; /* Aumente a largura do card para 300px ou mais */
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card-image {
    width: 100%; /* A imagem ocupará toda a largura do card */
    height: auto; /* Mantenha a proporção da imagem */
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #666;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

h2 {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-bottom: 10px;
}

p {
    color: #b0b0b0;
    font-size: 0.9em;
}
