/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.subject-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 200px; /* Ajuste a largura conforme necessário */
    text-align: center;
    transition: transform 0.3s;
}

.subject-card:hover {
    transform: scale(1.05); /* Efeito de hover para ampliar o card */
}

.subject-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.subject-card a:hover {
    background-color: #0056b3; /* Efeito de hover no botão */
}
